
.logo {
  font-size: 100px;
  padding-left: 10%;
  font-family: sans-serif;
  padding-bottom: 0%;
  margin: 0%;
  padding-top: 10%;
}

.whatif {
  padding-left: 10%;
  font-family: sans-serif;
  font-size: 50px;
  width: 40%;
  height: 40%;
}


.comingsoon {
  font-family: sans-serif;
  padding-left: 15%;
  font-style:italic;
}

.images {
  padding-right: 10%;
}

.email {
  font-family: sans-serif;
  font-style: italic;
  width: 500px;
  height: 30px;
  border-color: black;
}

.email.hover {
  border-color: black;
}

.button {
    position: relative;
    background-color: black;
    border: none;
    font-size: 12px;
    color: white;
    padding: 10px;
    width: 100px;
    height: 38px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:hover {
  color: black;
  background: white;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.space {
  padding-left: 10%;
  padding-top: 3%;
}

body {
  color: white;


background: linear-gradient(270deg, #fb5b00, #fbeb00, #fb7100, #fb00f2);
background-size: 800% 800%;

-webkit-animation: AnimationName 29s ease infinite;
-moz-animation: AnimationName 29s ease infinite;
animation: AnimationName 29s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}





/*.comingsoon {
  font-size: 50px;
  text-align: right;
  font-family: sans-serif;
}*/
